<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title:'perfil'}) %>
  <link rel="stylesheet" href="/css/style.css" type="text/css"/> 

    <body>
        <!-- Header -->
        <%- include("../partials/header") %>
            <main>
                <div class="container">
                    <div class="row my-4">
                        <h2 class="text-center col-12">Perfil de Usuario</h2>
                        <img src="userPicture.jpg" alt="User Picture" class="profile-picture">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p><strong>Nombre: </strong><span id="name"><%= user.userName %></span></p>
                            <p><strong>Nombre: </strong><span id="name"><%= user.name %></span></p>
                            <p><strong>Email: </strong><span id="email"><%= user.email %></span></p>
                            <p><strong>Provincia: </strong><span id="province"><%= user.province %></span></p>
                            <p><strong>Localidad: </strong><span id="locality"><%= user.locality %></span></p>
                            <p><strong>Código Postal: </strong><span id="postal"><%= user.postal %></span></p>
                            <p><strong>Calle: </strong><span id="street"><%= user.street %></span></p>
                            <p><strong>Número de Calle: </strong><span id="streetNumber"><%= user.streetNumber %></span></p>
                            <p><strong>Piso: </strong><span id="floor"><%= user.floor%></span></p>
                            <p><strong>Entre Calles: </strong><span id="betweenSt1"><%= user.betweenSt1 %></span> y <span
                                    id="betweenSt2"><%= user.betweenSt1 %></span></p>
                            <p><strong>Número de Teléfono: </strong><span id="phoneNumber"><%= user.phoneNumber %></span></p>
                            <p><strong>Indicaciones: </strong><span id="indications"><%= user.indications %></span></p>
                            <p><strong>Rol: </strong><span id="role"><%= user.role %></span></p>
                            <button class="btn btn-primary" id="editButton">Editar</button>
                        </div>
                    </div>
                </div>
            </main>

            <!-- Footer -->

            <%- include("./partials/footer") %>

    </body>

</html>


